body
{
  overflow: hidden;
  background:url(large-3.jpg);
  background-size:100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#mitten
{
  position:absolute;
  max-height:848px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
