#cont
{
  display: flex;
  width:800px;
  height:500px;
  position:absolute;
  background-color: red;
  justify-content: center;
  align-items: center;
}
#image
{
  position: absolute;
  z-index: 1;
}
#yellow
{
  position: relative;
  z-index: 2;
  width: 100px;
  height: 100px;
  background-color: yellow;
}

#yellowButton
{
  position: relative;
  z-index: 2;
  background-color: yellow;
  width: 120px;
  height: 70px;
  font-size: 20px;  
}
