body
{
  overflow: hidden;
  background:url(Background.jpg);
  background-size:100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.Cont
{
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 44.175%;

  z-index: 5;

  height: 0%;
  width: 100%;
}

.textBar
{
  font-size: calc(100% + 3vw);
  font-family: sans-serif;
  margin-bottom: 20px;
  position: absolute;

  color: white;
}

#MiddlePicture
{
  position:absolute;
  max-height:3534px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#MiddleBar
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
  /*  background-color: rgba(0,0,0,0.8);*/ /*#ffa400*/
  background-color: blue;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    height: 30%;
    width: 100%;
}

#MiddleWipe
{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;

/*  position: absolute; */
  background-color: rgba(0,0,0,0);
/*  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  z-index: 4;
  transition: 0.3;
/*
  height: 100%;
  width: 100%;
  */
background-color:  green;
}

#MiddleWipe:hover
{
  background-color: rgba(0,0,0,1);
}

#EnterPicture
{
  display: flex;
  position: relative;
  background-color: red;
  /*top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  opacity: 0;
  transition: 0.3s;
  padding-bottom: 45.537%;
  width: 20%;
}

#EnterPicture:hover
{
  opacity: 1;
}
