body {
    overflow: hidden;
    background-color: #ffa400;
}

.PicCont
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;
    top:0px;
    left:0px;

    height: 100%;
    width: 100%;
}

#Picture
{
    position: absolute;
    z-index: 2;
}

#BackgroundPicture
{
    position: absolute;
    z-index: 1;
}

img
{
    width: 100%;
    height: auto;
}

.MiddleBar
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(0,0,0,0.8); /*#ffa400*/
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 3px;
    z-index: 3;

    height: 15%;
    width: 100%;
}

.button
{
    background-color: rgba(255, 164, 0, 1);  /*#ffa400;*/
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
    width:max-content;
    padding:  10px;

}

.textBar
{
  font-size: 30px;
  font-family: sans-serif;
  margin-bottom: 15px;

  color: white;
}
