body 
{
    /*overflow: hidden;*/
}

.PicContainer 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    position: absolute;

    height: 100%;
    width: 100%;
}

#Picture {
    width: 100%;
    height: auto;
}