.Menus /*Container for Menus*/
{
  display: flex;
  flex-direction: row;
}


.Menu /*Menu Object*/
{
display: flex;
flex-direction: column;
background-color: Red;
width:100px;
height: 20px;

border-radius: 5px;
margin: 5px;
border-style: solid;
padding:7px;
}
.Option /*Option Object*/
{
display:none; /*Unless otherwise told, nothing is shown*/
}
.Menu:hover .Option /*If Menu a mouse hovering over then update Option to be shown*/
{
display: block;
background-color: yellow;
width:100px;
height: 20px;
border-radius: 5px;
border-style: solid;
padding:7px;
}
