body
{
  background-color: slategray;
}

.TopBar /*Top menu bar*/
{
  display: flex;
  flex-direction: row;
  background-color: black;
  border-radius: 5px;
  margin: auto;

  width: 580px;
  height: 44px;
}

.Menu /*Menu object*/
{
  display: flex;
  flex-direction: column;
  background-color: lightblue;
  border-radius: 5px;
  margin-right: 5px;
  border-style: solid;
  font-size: 22px;
  padding: 5px;
  padding-left: 20px;

  width: 80px;
  height: 28px;
}

.Option /*Options in Menu*/
{
    display: none;
    background-color: white;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    padding: 7px;
    margin-top: 10px;

    z-index: 1;
}

.Option2
{
    margin-top: 0px;
}

.Menu:hover .Option
{
    display: block;
}

.TextBar
{
  display: flex;
  flex-direction: row;
  background-color: black;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;

  max-width: 580px;
  height: 1000px;
}

.Divider
{
    display: flex;
    background-color: black;

    width: 3px;
    height: 1000px;
}

.LeftText
{
  display: flex;
  background-color: white;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 10px;
  border-radius: 10px;
  flex-shrink: 2;

  width: 65%;
  height: 1000px;
}

.RightText
{
  display: flex;
  background-color: lightgray;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 10px;
  flex-shrink: 1;

  width: 35%;
  height: 1000px;
}
