.Cont
{
  display: flex;
  background-color: red;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 44.175%;

  width: 100%;
  height: 0%;

}

#MiddleBar
{

  /*
  display: flex;
  justify-content: center;
  align-content: center;
    position: relative;
  background-color: yellow;
*/

display: block;

background-color: yellow;








}
