body
{
  background-color: red;
}

.TopBar /*Top menu bar*/
{
  display: flex;
  flex-direction: row;
  background-color: black;
  border-radius: 5px;
  margin: auto;

  width: 580px;
  height: 44px;
}

.Menu /*Menu object*/
{
  display: flex;
  flex-direction: column;
  background-color: yellow;
  border-radius: 5px;
  margin-right: 5px;
  border-style: solid;
  font-size: 22px;
  padding: 5px;
  padding-left: 20px;

  width: 80px;
  height: 28px;
}

.Option /*Options in Menu*/
{
    display: none;
    background-color: yellow;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    padding: 7px;
    margin-top: 10px;

    z-index: 1;
}

.Option2
{
    margin-top: 0px;
}

.Menu:hover .Option
{
    display: block;
}

.TextBar
{
  display: flex;
  flex-direction: row;
  background-color: yellow;
  margin: auto;
  border-radius: 5px;

  width: 580px;
  height: 1000px;
}

.LeftText
{
  display: flex;
  background-color: green;

  width: 100px;
  height: 1000px;
}

.RightText
{
  display: flex;
  background-color: orange;

  width: 100px;
  height: 1000px;
}
